<footer class="site-footer">
    <div class="footer-container" style="padding-left: 40px;">
        <div class="footer-section">
            <h3>关于我</h3>
            <p>随便写点什么的网站，如果有侵犯到你的版权，请和我联系。</p>
        </div>

        <div class="footer-section">
            <h3>关注我</h3>
            <ul>
                <li><a href="https://space.bilibili.com/401777887">b站</a></li>
                <div class="social-links">
                <a href="https://github.com/Coco-Keya"><i class="fab fa-github"></i></a>

            </div>
        </div>

        <div class="footer-section">
            <h3>联系方式</h3>
            <ul class="contact-info">
                <li><i class="fas fa-envelope"></i> keya.mail@qq.com</li>
            </ul>

            
        </div>
    </div>

    <div class="copyright" style="padding-left: 40px;">
        <p>&copy; 2025 柯迓的网站. 保留所有权利.</p>
    </div>
</footer>